---
# Only front matter needed for Jekyll to process SCSS
---
@import "minimal-mistakes/skins/default";
@import "minimal-mistakes";

a {
  color: #00d4aa;
  text-decoration: none;
}
a:hover,
a:visited:hover {
  color: #53595e;
  text-decoration: underline;
}
a:visited {
  color: #00886d;
  text-decoration: none;
}

body {
  background: linear-gradient(180deg, #f2f2f2, #ffffff);
}

#site-nav {
	background: #f2f2f2
}

.visible-links,
h1, h2, h3, h4, h5, h6,
dt,
p {
	font-weight: lighter !important;
}

.site-title {
    color: black !important;
    font-size: 0.9em !important;
	font-weight: normal !important;
	margin-bottom: 5px !important;
}

.author__name > a {
    color: black !important;
    font-size: 0.9em !important;
}

p {
	font-size: 0.9em !important;
}

.author__bio {
	font-size: 0.8em !important;
}