---
# Only front matter needed for Jekyll to process SCSS
---
@import "minimal-mistakes/skins/default";
@import "minimal-mistakes";

a {
  color: #00d4aa;
  text-decoration: none;
}
a:hover,
a:visited:hover {
  color: #53595e;
  text-decoration: underline;
}
a:visited {
  color: #00886d;
  text-decoration: none;
}

body {
  background: linear-gradient(180deg, #f2f2f2, #ffffff);
}

#site-nav {
	background: #f2f2f2
}

.visible-links {
	font-weight: lighter !important;
}

h1, h2, h3, h4, h5, h6,
dt {
	font-weight: normal !important;
}

.site-title {
    color: black !important;
    font-size: 0.9em !important;
	font-weight: normal !important;
    line-height: 1.2;
	margin-bottom: 5px !important;
}

.author__name > a {
    color: black !important;
    font-size: 0.9em !important;
}

p,
li,
dd {
	font-size: 0.9em !important;
}

dd {
  color: #585f65;
  font-style: italic;
}

.author__bio {
    color: black !important;
	font-size: 0.8em !important;
}

.opacity-33 {
  opacity: 0.33;
}

.text-justify {
  text-align: justify;
}
